set -e

# Also used in pytest config
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export PYTHONPYCACHEPREFIX="$XDG_CACHE_HOME/pycache"

use flake
watch_file nix/*

# Used in pre-commit hooks
export LOCAL_MODULE_FOLDER=$(cat pyproject.toml | yj -- -t | jq -r '.tool.poetry.name' | sed -e 's|-|_|g')

layout_poetry

export TEST_PGDATA="$(direnv_layout_dir)/postgres-test"
export PGDATA="$(direnv_layout_dir)/postgres-dev"
export DATABASE_URL="postgresql://test@:5432/test?host=${PGDATA}"
PATH_add .env/bin

export IN_DEV_ENV=1
